{%extends 'base.html'%}

{% block styles %}
{{super ()}}
<link rel="stylesheet" href="../static/css/styles.css">
<script type="text/javascript" src="{{url_for('static', filename='css/script.js')}}"></script>
<script language="javascript" type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js"></script>
<script language="javascript" type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.sound.min.js"></script>


{% endblock %}
{%block content%}
{% for post in posts %}
<div class="container mt-5">

    <div class="row">

        <div class="col-md-8">

            <a class="mr-2" href="#">Author : {{ post.author|capitalize}}</a>
            <small class="text-muted"> Date: {{ post.date_posted.strftime('%Y-%m-%d') }} </small>


            <h2><a class="" href="{{ url_for('main.post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="">{{ post.content|truncate(500) }}</p>


            <a class=" " href="{{ url_for('main.post', post_id=post.id) }}">View More ...</a>


            <a class=" ml-5 " href="{{ url_for('main.post', post_id=post.id) }}">Comment</a>
        </div>
        {% endfor %}
        <div class="col-md-4">
            <div class="card-body quote">

                <p class="card-text quote">"{{quote.quote}}"</p><br>
                <small>
                    <p class="text-muted"> {{quote.author|capitalize}} <small>
                        </small>
            </div>
        </div>
    </div>

</div>





{%endblock%}