{%extends 'base.html'%}

{% block styles %}
{{super ()}}
<link rel="stylesheet" href="../static/css/styles.css">
<script type="text/javascript" src="{{url_for('static', filename='css/script.js')}}"></script>
<script language="javascript" type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js"></script>
<script language="javascript" type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.sound.min.js"></script>


{% endblock %}
{%block content%}
{% for post in posts %}
<div class="container">
    <div class="card">
        <div class="row">

            <div class="col-md-6">

                <p class="mr-2" href="#">Author : {{ post.author|capitalize}}</p>
                <p class="text-muted"> Date: {{ post.date_posted.strftime('%Y-%m-%d') }} </p>

            </div>
            <div class="col-md-6">
                <p><a class="" href="{{ url_for('main.post', post_id=post.id) }}">{{ post.title }}</a></p>
                <p class="">{{ post.content|truncate(500) }}</p>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <h1 class=" " href="{{ url_for('main.post', post_id=post.id) }}">View More</h1>
            </div>


            <div class="col-md-6">
                <h1 class=" ml-5 " href="{{ url_for('main.post', post_id=post.id) }}">Comment</h1>
            </div>
            {% endfor %}
        </div>

    </div>

</div>

{%endblock%}