{%extends 'base.html'%}

{% block styles%}
{{ super() }}

<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
{% endblock %}

{%block content%}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">

                <h1 class="card-header pink darken-4 white-text text-center py-4">
                    <strong>Create a Post</strong>
                </h1>
                {% if error %}
                <div class="alert alert-danger">
                    {{error}}
                </div>
                {%endif%}


                
                <div class="card-body">

                    
                    <form class="text-center" style="color: #757575;" action='/write_post/new' method='POST'>

                        
                        <div class="md-form mt-3">
                            <input type="text" id="materialContactFormName" class="form-control" name="title">
                            <label for="materialContactFormName">Title</label>
                        </div>


                        
                        <div class="md-form mt-3">
                            <input type="text" id="materialContactFormName" class="form-control" name="category">
                            <label for="materialContactFormName">Category</label>
                        </div>

                        <div class="md-form">
                            <textarea id="materialContactFormMessage" class="form-control md-textarea" rows="5"
                                name="content" placeholder="write post ..."></textarea>

                        </div>

                        <button class="btn  btn-rounded btn-block z-depth-0 my-4 waves-effect pink darken-4"
                            type="submit">Post</button>

                    </form>
                    

                </div>

            </div>

        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{%endblock%}